body {
    color: #ffffff;
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
    font-family: Arial;
    font-size: 14px;
}

#stats {
    position: absolute;
    left: 0;
    top: 0;
}

#promt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 20px 0;
    background-color: #009688;
    text-align: center;
    font-size: 25px;
    color: #fff;
    display: none;
}

#promt.info {
    background-color: #009688;
}

#promt.danger {
    background-color: #ff6550;
}

#health {
    position: absolute;
    top: 0;
    right: 0;
}

#health .heart {
    display: inline-block;
    margin: 10px 5px;
}

.heart {
    position: relative;
    width: 25px;
    height: 20px;
}

.heart::before {
    position: absolute;
    left: 50%;
    transform-origin: 0% 100%;
    transform: rotate(-45deg);
    background-color: red;
    content: " ";
    width: 50%;
    height: 100%;
    border-radius: 50% 50% 0 0;
}

.heart::after {
    position: absolute;
    transform-origin: 100% 100%;
    transform: rotate(45deg);
    background-color: red;
    content: " ";
    width: 50%;
    height: 100%;
    border-radius: 50% 50% 0 0;
}

#identity {
    position: absolute;
    padding: 10px;
    border-radius: 40px;
    background-color: #009688;
    font-size: 30px;
    display: none;
}

#identity>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

#loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: block;
}

@keyframes load-circle {
    0 {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 20%);
    }
    100% {
        transform: translate(0, 0);
    }
}

#loading circle {
    animation: load-circle 1.4s linear infinite;
}

#loading circle:nth-child(1) {
    animation-delay: 0.25s;
}

#loading circle:nth-child(2) {
    animation-delay: 0.5s;
}

#loading circle:nth-child(3) {
    animation-delay: 0.75s;
}

#music {
    display: none;
}
