/* --- reset style --- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

/* --- reset style --- */

/* --- common style --- */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #FFF;
    overflow: hidden;
}

.show {
    /*visibility: visible;*/
    display: block;
}

.hidden {
    /*visibility: hidden;*/
    display: none;
}

.info {
    background-color: #70BAA6;
}

.danger {
    background-color: #ff6550;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* --- common style --- */

/* --- welcome page --- */

/* rolling box */

@keyframes rolling {
    to {
        transform: rotate3d(1, 1, 1, 360deg);
        -webkit-transform: rotate3d(1, 1, 1, 360deg);
    }
}

@-webkit-keyframes rolling {
    to {
        transform: rotate3d(1, 1, 1, 360deg);
        -webkit-transform: rotate3d(1, 1, 1, 360deg);
    }
}

.contain {
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

.cube {
    font-size: 80px;

    width: 2em;
    height: 2em;

    position: relative;
    margin: 1em auto;

    animation-name: rolling;
    -webkit-animation-name: rolling;

    animation-duration: 10s;
    -webkit-animation-duration: 10s;

    animation-iteration-count: infinite;
    transform-style: preserve-3d;
}

.face {
    width: 2em;
    height: 2em;
    position: absolute;

    background-color: #F9F9F8;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.face:nth-child(1) {
    background-color: #F9F9F8;
    transform: translateZ(1em);
    -webkit-transform: translateZ(1em);
}

.face:nth-child(2) {
    background-color: #868FBF;
    transform: rotateX(180deg) translateZ(1em);
    -webkit-transform: rotateX(180deg) translateZ(1em);
}

.face:nth-child(3) {
    background-color: #59B2CE;
    transform: rotateY(-90deg) translateZ(1em);
    -webkit-transform: rotateY(-90deg) translateZ(1em);
}

.face:nth-child(4) {
    background-color: #CE2535;
    transform: rotateY(90deg) translateZ(1em);
    -webkit-transform: rotateY(90deg) translateZ(1em);
}

.face:nth-child(5) {
    background-color: #D79F52;
    transform: rotateX(90deg) translateZ(1em);
    -webkit-transform: rotateX(90deg) translateZ(1em);
}

.face:nth-child(6) {
    background-color: #EFBCB6;
    transform: rotateX(-90deg) translateZ(1em);
    -webkit-transform: rotateX(-90deg) translateZ(1em);
}

.face>img {
    width: 100%;
    height: 100%;
}

/* fade animation */

@-webkit-keyframes fadeInOut {
  from {
    opacity: 0;
  }

  40% {

    opacity: 0.6;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }

  40% {

    opacity: 0.6;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}

.fade {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;;
    animation-iteration-count: infinite;
    -webkit-animation-name: fadeInOut;
    animation-name: fadeInOut;
}

#welcome {
    background-color: #263238;
    text-align: center;
    font-size: 25px;
    overflow-y: auto;
}

#welcome .logo {
    margin: 2.5em auto;
}

#welcome .contain {
    padding-bottom: 1em;
}

#hint {
    font-size: 30px;
    padding: 0.5em;
    border: 0.125em solid #263238;
}

#hint.fade {
    cursor: pointer;
    background-color: #009688;
}

#hint:hover {
    border-color: #009688;
}

/* --- welcome page --- */

/* --- pause --- */

/* bubles style */

.bubles {
    width: 100%;
    height: 100%;
}

@keyframes floating {
    0 {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 40%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes floating {
    0 {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 40%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.bubles circle {
    animation: floating 1.5s ease infinite;
    -webkit-animation: floating 1.5s ease infinite;
}

.bubles circle:nth-child(1) {
    animation-delay: 0.25s;
}

.bubles circle:nth-child(2) {
    animation-delay: 0.5s;
}

.bubles circle:nth-child(3) {
    animation-delay: 0.75s;
}

.bubles circle:nth-child(3) {
    animation-delay: 1s;
}

/* flipInY animation */

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(-5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(-5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

#pause {
    font-size: 20px;
    text-align: center;

    width: 15em;
    height: 10em;

    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    border-radius: 1em;
    padding-top: 2em;
    background-color: #70BAA6;

    box-sizing: border-box;
}

#pause>.icon-pause {
    font-size: 2.5em;
}

#pause .bubles {
    height: 5em;
}

/* --- pause --- */

/* --- dialog --- */

/* flipInX animation */

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-20deg);
    transform: perspective(400px) rotateX(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotateX(-5deg);
    transform: perspective(400px) rotateX(-5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-20deg);
    transform: perspective(400px) rotateX(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotateX(-5deg);
    transform: perspective(400px) rotateX(-5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

#dialog {
    width: 50%;

    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#dialog>span {
    font-size: 25px;
    display: inline-block;
    padding: 0.5em;
    background-color: #48899b;
    border-radius: 0.2em;

    position: absolute;
    top: -1em;
    left: 0.5em;
}

#dialog>img {
    position: absolute;
    top: -50%;
    right: 0;
}

#dialog>div {
    font-size: 20px;
    line-height: 2em;

    box-sizing: border-box;

    width: 100%;
    height: 10em;
    padding: 2.5em;

    background-color: #24505c;
    border-radius: 0.5em;
}


/* --- game container --- */

#game {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* --- render status --- */

#stats {
    position: absolute;
    left: 0;
    top: 0;
}

/* --- money & health --- */

#points {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

#points>li {
    float: left;
    height: 40px;
    margin-right: 20px;
    margin-top: 5px;
    text-align: center;
}

#points>li>span {
    padding-right: 5px;
    vertical-align: middle;
    line-height: 40px;
}

#points>li>span.icon-heart {
    color: #e51c23;
}

#points>li>span.icon-moneybag {
    color: #a1887f;
}

/* --- tools --- */

/* slideInLeft animation */

@keyframes slideInLeft {
    from {
        transform: translateX(-1500px);
        -webkit-transfrom: translateX(-1500px);
    }

    40% {
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
    }

    80% {
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
    }

    to {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes slideInLeft {
    from {
        transform: translateX(-1500px);
        -webkit-transfrom: translateX(-1500px);
    }

    40% {
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
    }

    80% {
        transform: translateX(5px);
        -webkit-transform: translateX(5px);
    }

    80% {
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
    }

    to {
        transform: none;
        -webkit-transform: none;
    }
}

.slideInLeft {
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.30, 0.45, 1.000);
    animation-timing-function: cubic-bezier(0.6, 0.30, 0.45, 1.000);
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

/* shake animation */

@-webkit-keyframes shake {
    from {
        transform: translate3d(-5px, -2px, 0) rotate(-5deg);
        -webkit-transfrom: translate3d(-5px, -2px, 0) rotate(-5deg);
    }

    40% {
        transform: translate3d(-8px, -6px, 0) rotate(-30deg);
        -webkit-transfrom: translate3d(-8px, -6px, 0) rotate(-30deg);
    }

    60% {
        transform: translate3d(8px, 6px, 0) rotate(5deg);
        -webkit-transfrom: translate3d(8px, 6px, 0) rotate(5deg);
    }

    80% {
        transform: translate3d(5px, 2px, 0) rotate(30deg);
        -webkit-transfrom: translate3d(5px, 2px, 0) rotate(30deg);
    }

    to {
        transform: none;
        -webkit-transfrom: none;
    }
}

@keyframes shake {
    from {
        transform: translate3d(-5px, -2px, 0) rotate(-5deg);
        -webkit-transfrom: translate3d(-5px, -2px, 0) rotate(-5deg);
    }

    40% {
        transform: translate3d(-8px, -6px, 0) rotate(-30deg);
        -webkit-transfrom: translate3d(-8px, -6px, 0) rotate(-30deg);
    }

    60% {
        transform: translate3d(8px, 6px, 0) rotate(5deg);
        -webkit-transfrom: translate3d(8px, 6px, 0) rotate(5deg);
    }

    80% {
        transform: translate3d(5px, 2px, 0) rotate(30deg);
        -webkit-transfrom: translate3d(5px, 2px, 0) rotate(30deg);
    }

    to {
        transform: none;
        -webkit-transfrom: none;
    }
}

.shake {
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.30, 0.55, 1.000);
    animation-timing-function: cubic-bezier(0.2, 0.30, 0.55, 1.000);
    -webkit-animation-name: shake;
    animation-name: shake;
}

#tools {
    font-size: 40px;
    color: #222;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#tools>li {
    width: 1.25em;
    height: 1.25em;
    margin: 0.25em;
    border-radius: 50%;
    background-color: #bbb;
    text-align: center;
}

#tools>li:hover {
    cursor: pointer;
}

#tools>li>span {
    line-height: 1.25em;
}

#task:hover .icon-date_range:before {
    content: "\e616";
}

#good:hover .icon-cube:before {
    content: "\e901";
}

#help:hover .icon-help::before {
    content: "\e8fd";
}

#taskList, #goodList, #helpList, #empty, #gameover, #gameclear {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#empty {
    text-align: center;
    background-color: #9db3b4;
    color: #344b52;
    font-size: 20px;
    width: 8em;
    height: 8em;
    padding: 1em;
    border-radius: 1em;
    line-height: 1.5;

    animation-iteration-count: infinite;
    animation-duration: .6s;
    animation-direction: alternate;
}

#gameover {
    text-align: center;
    background-color: #101016;
    color: #f4f9fb;
    font-size: 40px;
    width: 8em;
    height: 5.5em;
    padding: 1em;
    border-radius: 1em;
    line-height: 1.5;

    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

#gameclear {
    text-align: center;
    background-color: #ffc296;
    color: #30688b;
    font-size: 25px;
    width: 8em;
    height: 8em;
    padding: 1em;
    border-radius: 1em;
    line-height: 1.5;

    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-direction: alternate;
}

#gameclear>h1 {
    font-size: 40px;
}


/* task list */

#taskList {
    font-size: 20px;

    width: 50%;
    height: 50%;
    max-width: 25em;
    border-radius: 1em;

    background-color: #e7efcd;

    overflow-y: auto;
}

#taskList::-webkit-scrollbar {
    width: 0;
}

.mission .title {
    font-size: 30px;
    padding: 0.5em;
    font-weight: bold;
    color: #595e49;
}

.mission .title>span {
    padding-right: 0.25em;
}

.mission .icon-radio_button_unchecked {
    color: #595e49;
}

.mission .icon-check_circle {
    color: #275f5f;
}

.mission .description {
    font-size: 20px;
    line-height: 1.25;

    background-color: #c2d1bb;
    color: #483c1f;

    opacity: 0;

    padding: 0;
    height: 0;

    overflow: hidden;
    visibility: hidden;

    position: relative;

    transition: all 0.5s ease-in;
}

.mission .description::before {
    position: absolute;
    left: 1em;
    top: 0;
    content: "";
    border-width: 0.5em;
    border-style: solid;
    border-color: #275f5f transparent transparent transparent;
}

.mission:hover .description {
    visibility: visible;
    padding: 0.85em;
    height: 100%;
    opacity: 1;
}

/* good list */

#goodList {
    font-size: 20px;

    width: 20em;
    height: 50%;
    padding: 1em;
    border-radius: 1em;

    overflow-y: auto;

    background-color: #faf4e8;
}

#goodList::-webkit-scrollbar {
    width: 0;
}

.good {
    box-sizing: border-box;
    display: inline-block;

    width: 5em;
    height: 5em;

    background-color: #f9545b;
    border-radius: 0.5em;

    position: relative;
    margin-bottom: 1em;

    cursor: pointer;
    text-align: center;
}

.good .title {
    position: relative;
}

.good:hover .title::before {
    position: absolute;
    left: 1.5em;
    bottom: -2em;
    z-index: 1;
    content: "";
    border-width: 1em;
    border-style: solid;
    border-color: #c2dac9 transparent transparent transparent;
}

.good .icon {
    font-size: 5em;
}

.good .count {
    color: #420200;
    position: absolute;
    top: 0;
    right: 0.125em;
}

.good .name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #ced6de;
    color: #420200;
    opacity: 0;
}

.good:hover .name {
    opacity: 0.8;
}

.good .description {
    position: absolute;
    left: 0;
    right: 0;

    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;

    border-radius: 0.25em;
    background-color: #87be9b;
    text-align: left;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;

    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-out;
}


.good:hover .description {
    visibility: visible;
    height: 1em;
    opacity: 1;
}


.good:hover {
    background-color: #eb514c;

    margin-bottom: 3em;
    overflow: visible;
    position: static;
}

/* help list */

#helpList {
    font-size: 20px;

    box-sizing: border-box;
    width: 20em;
    height: 65%;
    padding: 1em;
    border-radius: 1em;

    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: #e6eaed;
    color: #66473d;
    overflow-x: hidden;
    overflow-y: auto;
}

#helpList::-webkit-scrollbar {
    width: 0;
}

.help-item {
    position: relative;
    margin-bottom: 0.5em;
}

.help-item>input {
    opacity: 0;

    margin: 0;
    padding: 0;

    position: absolute;
    width: 100%;
    height: 48px;
    cursor: pointer;
}

.help-item .title {
    font-size: 1.5em;
    border-radius: 0.2em;
}

.help-item .icon {
    display: inline-block;
    border: 0.1em solid #9d8678;
    padding: 0.2em;
    border-radius: 0.2em;
}

.help-item .content {
    display: none;

    box-sizing: border-box;
    width: 100%;

    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 0.25em;
    line-height: 1.25;
    background-color: #d8d8d8;
    position: relative;
}

.help-item .content::before {
    content: '';
    width: 0.25em;
    height: 0.5em;
    background-color: #cbc2b6;
    position: absolute;
    left: 25%;
    top: -0.5em;
}

.help-item .content::after {
    content: '';
    width: 0.25em;
    height: 0.5em;
    background-color: #cbc2b6;
    position: absolute;
    right: 25%;
    top: -0.5em;
}

.help-item>input[type="radio"]:checked ~ .title {
    background-color: #cbc2b6;
}

.help-item>input[type="radio"]:checked ~ .content {
    display: block;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
}

/* identity */

#identity {
    position: absolute;
    padding: 10px;
    border-radius: 40px;
    background-color: #009688;
    font-size: 30px;
}

#identity>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
}
