/* --- reset style --- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

/* --- reset style --- */

/* --- common style --- */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #FFF;
    overflow: hidden;
}

.show {
    /*visibility: visible;*/
    display: block;
}

.hidden {
    /*visibility: hidden;*/
    display: none;
}

.info {
    background-color: #70BAA6;
}

.danger {
    background-color: #ff6550;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* --- common style --- */

/* --- welcome page --- */

/* rolling box */

@keyframes rolling {
    to {
        transform: rotate3d(1, 1, 1, 360deg);
        -webkit-transform: rotate3d(1, 1, 1, 360deg);
    }
}

@-webkit-keyframes rolling {
    to {
        transform: rotate3d(1, 1, 1, 360deg);
        -webkit-transform: rotate3d(1, 1, 1, 360deg);
    }
}

.contain {
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

.cube {
    font-size: 80px;

    width: 2em;
    height: 2em;

    position: relative;
    margin: 1em auto;

    animation-name: rolling;
    -webkit-animation-name: rolling;

    animation-duration: 10s;
    -webkit-animation-duration: 10s;

    animation-iteration-count: infinite;
    transform-style: preserve-3d;
}

.face {
    width: 2em;
    height: 2em;
    position: absolute;

    background-color: #F9F9F8;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.face:nth-child(1) {
    background-color: #F9F9F8;
    transform: translateZ(1em);
    -webkit-transform: translateZ(1em);
}

.face:nth-child(2) {
    background-color: #868FBF;
    transform: rotateX(180deg) translateZ(1em);
    -webkit-transform: rotateX(180deg) translateZ(1em);
}

.face:nth-child(3) {
    background-color: #59B2CE;
    transform: rotateY(-90deg) translateZ(1em);
    -webkit-transform: rotateY(-90deg) translateZ(1em);
}

.face:nth-child(4) {
    background-color: #CE2535;
    transform: rotateY(90deg) translateZ(1em);
    -webkit-transform: rotateY(90deg) translateZ(1em);
}

.face:nth-child(5) {
    background-color: #D79F52;
    transform: rotateX(90deg) translateZ(1em);
    -webkit-transform: rotateX(90deg) translateZ(1em);
}

.face:nth-child(6) {
    background-color: #EFBCB6;
    transform: rotateX(-90deg) translateZ(1em);
    -webkit-transform: rotateX(-90deg) translateZ(1em);
}

.face>img {
    width: 100%;
    height: 100%;
}

/* fade animation */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  40% {

    opacity: 0.6;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  40% {

    opacity: 0.6;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}

.fade {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;;
    animation-iteration-count: infinite;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#welcome {
    background-color: #263238;
    text-align: center;
    font-size: 25px;
    overflow-y: auto;
}

#welcome .logo {
    margin: 2.5em auto;
}

#welcome .contain {
    padding-bottom: 1em;
}

/* --- welcome page --- */

/* --- pause --- */

/* bubles style */

.bubles {
    width: 100%;
    height: 100%;
}

@keyframes floating {
    0 {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 40%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes floating {
    0 {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 40%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.bubles circle {
    animation: floating 1.5s ease infinite;
    -webkit-animation: floating 1.5s ease infinite;
}

.bubles circle:nth-child(1) {
    animation-delay: 0.25s;
}

.bubles circle:nth-child(2) {
    animation-delay: 0.5s;
}

.bubles circle:nth-child(3) {
    animation-delay: 0.75s;
}

.bubles circle:nth-child(3) {
    animation-delay: 1s;
}

/* flipInY animation */

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(-5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(-5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

#pause {
    font-size: 20px;
    text-align: center;

    width: 15em;
    height: 10em;

    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    border-radius: 1em;
    padding-top: 2em;

    box-sizing: border-box;
}

#pause>.icon-pause {
    font-size: 2.5em;
}

#pause .bubles {
    height: 5em;
}

/* --- pause --- */

/* --- dialog --- */

/* flipInX animation */

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-20deg);
    transform: perspective(400px) rotateX(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotateX(-5deg);
    transform: perspective(400px) rotateX(-5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-20deg);
    transform: perspective(400px) rotateX(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotateX(-5deg);
    transform: perspective(400px) rotateX(-5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

#dialog {
    width: 50%;

    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#dialog>span {
    font-size: 25px;
    display: inline-block;
    padding: 0.5em;
    background-color: #48899b;
    border-radius: 0.2em;

    position: absolute;
    top: -1em;
    left: 0.5em;
}

#dialog>img {
    position: absolute;
    top: -50%;
    right: 0;
}

#dialog>div {
    font-size: 20px;
    line-height: 2em;

    box-sizing: border-box;

    width: 100%;
    height: 10em;
    padding: 2.5em;

    background-color: #24505c;
    border-radius: 0.5em;
}


/* --- game container --- */

#game {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* --- render status --- */

#stats {
    position: absolute;
    left: 0;
    top: 0;
}

/* --- money & health --- */

#points {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

#points>li {
    float: left;
    height: 40px;
    margin-right: 20px;
    margin-top: 5px;
    text-align: center;
}

#points>li>span {
    padding-right: 5px;
    vertical-align: middle;
    line-height: 40px;
}

#points>li>span.icon-heart {
    color: #e51c23;
}

#points>li>span.icon-moneybag {
    color: #a1887f;
}

/* --- task & bag --- */

#tools {
    font-size: 40px;
    color: #222;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#tools>li {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    background-color: #bbb;
    text-align: center;
}

#tools>li:hover {
    cursor: pointer;
}

#tools>li>span {
    line-height: 50px;
}

#task:hover .icon-date_range:before {
    content: "\e616";
}

#good:hover .icon-cube:before {
    content: "\e901";
}

/* task list */

#taskList {
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    background-color: #2ba5bb;
    overflow-x: hidden;
    overflow-y: auto;
}

#taskList::-webkit-scrollbar {
    width: 0.5em;
}

#taskList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #848484;
}

.mission {
    color: #ddd;
    background-color: transparent;
}

.mission:hover {
    color: #2ba5bb;
    background-color: #15525d;
}

.mission .title {
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
}

.mission .title>span {
    padding-right: 5px;
    vertical-align: middle;
}

.mission .icon-radio_button_unchecked {
    color: #275f5f;
}

.mission .icon-check_circle {
    color: #91DC5A;
}

.mission .description {
    padding: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    background-color: #15525d;
    transition: all .5s;
    font-size: 20px;
    position: relative;
}

.mission .description::before {
    position: absolute;
    left: 15px;
    top: 0;
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: #607d8b transparent transparent transparent;
}

.mission:hover .description {
    visibility: visible;
    padding: 15px;
    height: 100%;
    opacity: 1;
}

/* good list */

#goodList {
    box-sizing: content-box;
    width: 510px;
    height: 50%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background-color: #2ba5bb;
    overflow-x: hidden;
    overflow-y: scroll;
}

#goodList::-webkit-scrollbar {
    width: 10px;
}

#goodList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #1A1A1A;
    border-radius: 10px;
}

#goodList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1A1A1A;
}

.good {
    display: inline-block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 5px solid #2ba5bb;
    background-color: #2ba5bb;
    position: relative;
    cursor: pointer;
    text-align: center;
    margin-bottom: 0;
}

.good:hover {
    margin-bottom: 48px;
    border-color: #15525d;
    background-color: #15525d;
    overflow: visible;
    position: static;
}

.good .title {
    width: 90px;
    height: 90px;
    position: relative;
}

.good:hover .title::before {
    position: absolute;
    left: 0;
    bottom: -20px;
    z-index: 1;
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: #607d8b transparent transparent transparent;
}

.good .title>img {
    width: 100%;
    height: 100%;
}

.good .title>.count {
    position: absolute;
    top: 0;
    right: 0;
}

.good .title>.name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: #2ba5bb;
    opacity: 0;
}

.good:hover .title>.name {
    opacity: 0.8;
}

.good .description {
    position: absolute;
    left: 0;
    right: 0;
    padding: 15px;
    margin-top: 5px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    background-color: #15525d;
    transition: all .5s;
    text-align: center;
}

.good:hover .description {

    visibility: visible;
    height: auto;
    opacity: 1;
}



/* identity */

#identity {
    position: absolute;
    padding: 10px;
    border-radius: 40px;
    background-color: #009688;
    font-size: 30px;
    display: none;
}

#identity>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

#music {
    display: none;
}
