@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?lh3sj4');
  src:  url('/fonts/icomoon.eot?lh3sj4#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?lh3sj4') format('truetype'),
    url('/fonts/icomoon.woff?lh3sj4') format('woff'),
    url('/fonts/icomoon.svg?lh3sj4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check_circle:before {
  content: "\e86c";
}
.icon-colorize:before {
  content: "\e3b8";
}
.icon-date_range:before {
  content: "\e916";
}
.icon-event_note:before {
  content: "\e616";
}
.icon-radio_button_unchecked:before {
  content: "\e836";
}
.icon-cube:before {
  content: "\e900";
}
.icon-box:before {
  content: "\e901";
}
.icon-moneybag:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e904";
}
.icon-pause:before {
  content: "\e903";
}
.icon-eyedropper:before {
  content: "\e90a";
}
.icon-reply:before {
  content: "\e905";
}
