@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?fw4ih3');
  src:  url('/fonts/icomoon.eot?fw4ih3#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?fw4ih3') format('truetype'),
    url('/fonts/icomoon.woff?fw4ih3') format('woff'),
    url('/fonts/icomoon.svg?fw4ih3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check_circle:before {
  content: "\e86c";
}
.icon-colorize:before {
  content: "\e3b8";
}
.icon-date_range:before {
  content: "\e916";
}
.icon-event_note:before {
  content: "\e616";
}
.icon-help:before {
  content: "\e887";
}
.icon-help_outline:before {
  content: "\e8fd";
}
.icon-radio_button_unchecked:before {
  content: "\e836";
}
.icon-mouse:before {
  content: "\e906";
}
.icon-cube:before {
  content: "\e900";
}
.icon-box:before {
  content: "\e901";
}
.icon-moneybag:before {
  content: "\e902";
}
.icon-info:before {
  content: "\e907";
}
.icon-keyboard:before {
  content: "\e908";
}
.icon-mouse2:before {
  content: "\e909";
}
.icon-heart:before {
  content: "\e904";
}
.icon-pause:before {
  content: "\e903";
}
.icon-eyedropper:before {
  content: "\e90a";
}
.icon-reply:before {
  content: "\e905";
}
.icon-cog:before {
  content: "\e994";
}
